[paths]
source =
   src/deploy_tool
   */site-packages/deploy_tool

[run]
branch = true
source =
    deploy_tool
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
